.link-text {
    width: 200px;
    text-align: center;
    font-size: .8rem;
    font-family: var(--font-base);

}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 300px;
    height: 170px;


    position: absolute;
    bottom: 0;
    z-index: 10;

    border-radius: 20px 20px 20px 20px;
    border: 2px solid var(--primary-golden);

    box-shadow: 5px 1px 4px rgba(70, 72, 78, .1);

    @media screen and (max-width: 420px) {
        min-width: 250px;
        height: 150px;
    }
}

.link {
    &-playStore {
        img {
            margin: 1rem;
            width: 170px;
            height: 50px;
            @media screen and (max-width: 420px) {
                margin: 0.5rem;
                width: 150px;
                height: 45px;
            }
        }
    }
    &-appStore {
        img {
            width: 170px;
            height: 50px;
            @media screen and (max-width: 420px) {
                width: 150px;
                height: 45px;
            }
        }
    }


}