.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-logo {
        margin: 4rem;
    }
    
    .svg {
        fill: var(--primary-black);
    }

    @media screen and (max-width: 670px) {
        width: 100%;
        height: auto;
        margin: 5rem 5rem 0 5rem;
    }

    @media screen and (max-width: 420px) {
        margin: 0;

        &-logo {
            margin: 2rem 1rem 1rem 5rem;
        }

        button {
            margin: 2rem 5rem 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 375px) {
        width: 100%;
        height: auto;
        margin: 0;

        &-logo {
            margin: 4rem 1rem 1rem 4rem;
        }

        button {
            margin: 3rem 3rem 0 0;
        }
    }

    
    // Burger
    
    button {
        display: none;

        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        top: 18px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        z-index: 1000;
        
    }
      
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    
    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 230px;
        z-index: 1000;

        @media screen and (max-width: 420px) {
            bottom: -15%;
        }
        
    }
    
    li {
        list-style: none;
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        cursor: pointer;
        @media screen and (max-width: 420px) {
            justify-content: center;
        }
    }

    @media screen and (max-width: 1225px) {
        justify-content: space-between;
        align-items: center;

        &-logo-tasty,
        &-logo-yandex {
            display: none;
        }
    
        button {
            display: flex;
        }
    }
    .burger-item-text {
        font-family: var(--font-base);
        color: var(--primary-type)
    }
}