.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-logo {
        margin: 4rem;
    }
    
    .svg {
        fill: var(--primary-black);
    }

    
    // Burger
    
    button {
        display: none;

        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        top: 18px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        z-index: 100;
        
    }
      
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    
    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 230px;
        z-index: 1000;

        
    }
    
    li {
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        cursor: pointer;
        z-index: 1000;
    }

    @media screen and (max-width: 850px) {
        justify-content: space-between;
        align-items: center;

        &-logo-tasty,
        &-logo-yandex {
            display: none;
        }
    
        button {
            display: flex;
        }
    }
}