.btn-burger {
    display: none;

    outline: none;
    border: none;
    cursor: pointer;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    z-index: 1000;

    @media screen and (max-width: 1225px) {
        display: flex;
        justify-content: center;
        margin: 0 5rem 0 0;
    }
}