.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 375px) {
        overflow-x: hidden;
    }
}

.app-yandex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    @media screen and (max-width: 375px) {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    display: none;
  }