.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 375px) {
        overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    display: none;
  }