@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF7F2;
  font-size: 15px;
  overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --font-base: 'Raleway', sans-serif;

  --primary-black: #0D0802;
  --second-black: #46484E;
  --primary-golden: #BFA784;
  --primary-type: #46484E;
  --primary-gray: #7c7c7c;
  --bg-color: #FFF7F2
}


@viewport {
  user-zoom: fixed;
}
