.logo-yandex {
	cursor: pointer;
	transition: all 0.2s ease-in-out, fill 0.2s linear;

	&:hover {
		scale: 1.2;
		filter: drop-shadow(4px 4px 4px var(--primary-gray));
	}

	svg {
		@media screen and (max-width: 1225px) {
			display: none;
		}
	}
}
